@use 'sass:color';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre.pretty-json {
  height: 220px;
  overflow: scroll;
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;

  .string { color: green; }
  .number { color: darkorange; }
  .boolean { color: blue; }
  .null { color: magenta; }
  .key { color: red; }
}

.popup-root {
  overflow-y: auto;
}

.form-control::placeholder {
  color: #555;
}

$body-bg: color.adjust(#7A72D3, $lightness: 20%);
$light: #f7fdba;
$success: #5d9ffb;
$theme-colors: (
  "primary": #01412f,
  "secondary": #207050,
  "danger": #ff4f3f,
  "success": $success,
  "light": $light,
);
$nav-link-color: $light;
$nav-link-hover-color: color.adjust($success, $lightness: -40%);
$component-active-bg: $success;

@import "~bootstrap/scss/bootstrap";

#root {
  overflow: hidden;
}
